.container {
  background-image: url("../../assets/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-position-y: 65%;
}

.container.playing {
  background-image: none;
}

@media screen and (min-width: 768px) {
  .container {
    background-position-y: 65%;
  }
}

.game__option {
  max-width: 250px;
  position: relative;
  border-radius: 50%;

  background: linear-gradient(to right, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

.option__content {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 50%;
}

.option__content > img {
  animation: myAnim 2s ease 0s 1 normal forwards;
}

.game__option--scissors {
  background: linear-gradient(to right, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

.game__option--rock {
  background: linear-gradient(to right, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

@keyframes myAnim {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}

.test,
.test > div {
  border-radius: 50%;
}
